.todo {
  font-family: sans-serif;
  font-size: 30px;
}

.todo .todo__add-btn {
  background-color: #fff;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.todo .todo__add-btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all .5s ease;
}

.todo .todo__add-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.todo .todo__add-btn--stripe {
  overflow: hidden;
  position: relative;
}

.todo .todo__add-btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.todo .todo__add-btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.todo .todo__add-btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
  animation: stripe-slide 12s infinite linear forwards;
}

.todo .todo__add-btn--large {
  width: 50%;
}

.todo .todo__add-btn--radius {
  border-radius: 36px;
}

.todo .todo__input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 30px;
  transition: all .5s;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.todo__input-wrapper {
  position: absolute;
  transition: all .5s;
  width: 100%;
}

.todo .todo__input:focus {
  background-color: #666;
  color: #fff;
  border: none;
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 0px;
}

.todo .todo__input_required {
  border: 2px solid red;
  animation: todo__input_required 2s both;
}

@keyframes todo__input_required {
  from {
    background-color: red;
  }
}